.main-header {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.main-row {
    display: flex;
    flex-direction: row;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.main-header-spacebetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 79vw;
    padding: 0px;
    font-size: 14px;
    color: #b3b2b2;
}

.main-button {
    border: none;
    background-color: transparent;
    color: #b3b2b2;
    font-weight: bold;
}